@import "reset.css";

@import "header_css.css";
@import "footer_css.css";
@import "inscription.css";
@import "index_css.css";
@import "details.css";

.etoiles {
    position: relative;
    display: inline-block;
    border: none;
    font-size: 14px;
    margin: 50px auto;
    left: 50%;
    transform: translateX(-50%);
}

.etoiles input {
    border: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    opacity: 0;
}

.etoiles label {
    position: relative;
    float: right;
    color: #C8C8C8;
}

.etoiles label:before {
    margin: 5px;
    content: "\f005";
    font-family: FontAwesome;
    display: inline-block;
    font-size: 1.5em;
    color: #ccc;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.etoiles input:checked ~ label:before {
    color: #FFC107;
}

.etoiles label:hover ~ label:before {
    color: #ffdb70;
}

.etoiles label:hover:before {
    color: #FFC107;
}